/HabitSculpter.Service.Habit.Service/packages
/HabitSculpter.Service.Habit.Service/HabitSculpter.Service.Habit.Service/bin
/HabitSculpter.Service.Habit.Service/HabitSculpter.Service.Habit.Service/obj
/HabitSculpter.Service.Habit.Service/HabitSculpter.Service.Habit.Service/*.user
/HabitSculpter.Service.Habit.Service/*.suo
